body {
	margin: 0;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.grid {
	width: 208px;
	display: flex;
	flex-wrap: wrap;
}
.cell {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	background-color: white;
}

.clicked {
	background-color: green;
}